[submodule "tmodel-ccs2018.github.io"]
	path = tmodel-ccs2018.github.io
	url = https://github.com/tmodel-ccs2018/tmodel-ccs2018.github.io.git
[submodule "dependencies/oniontrace"]
	path = dependencies/oniontrace
	url = git@git.informatik.uni-hamburg.de:kkoester/oniontrace.git
[submodule "dependencies/tornettools"]
	path = dependencies/tornettools
	url = git@git.informatik.uni-hamburg.de:kkoester/tornettools.git
[submodule "dependencies/shadow"]
	path = dependencies/shadow
	url = git@git.informatik.uni-hamburg.de:kkoester/shadow.git
[submodule "dependencies/tgen"]
	path = dependencies/tgen
	url = https://github.com/shadow/tgen
[submodule "dependencies/shadow-plugin-tor"]
	path = dependencies/shadow-plugin-tor
	url = https://github.com/shadow/shadow-plugin-tor/
[submodule "dependencies/tor"]
	path = dependencies/tor
	url = git@git.informatik.uni-hamburg.de:kkoester/tor.git
[submodule "dependencies/heaptrack"]
	path = dependencies/heaptrack
	url = git@git.informatik.uni-hamburg.de:kkoester/heaptrack.git
