[submodule "tmodel-ccs2018.github.io"]
	path = tmodel-ccs2018.github.io
	url = https://github.com/tmodel-ccs2018/tmodel-ccs2018.github.io.git
[submodule "dependencies/oniontrace"]
	path = dependencies/oniontrace
	url = https://github.com/kevinkoester/oniontrace
[submodule "dependencies/tornettools"]
	path = dependencies/tornettools
	url = https://github.com/kevinkoester/tornettools
[submodule "dependencies/shadow"]
	path = dependencies/shadow
	url = https://github.com/kevinkoester/shadow
[submodule "dependencies/tgen"]
	path = dependencies/tgen
	url = https://github.com/shadow/tgen
[submodule "dependencies/shadow-plugin-tor"]
	path = dependencies/shadow-plugin-tor
	url = https://github.com/kevinkoester/shadow-plugin-tor
[submodule "dependencies/tor"]
	path = dependencies/tor
	url = https://gitlab.torproject.org/tpo/core/tor
[submodule "dependencies/heaptrack"]
	path = dependencies/heaptrack
	url = https://github.com/kevinkoester/heaptrack
